@import "tailwindcss";

@theme {
  --font-sans: "Kanit","Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 
}

:root {
   --primary-color : #192531;
}

html,
body {
  @apply bg-white;

  
}

.container-x {
  @apply max-w-7xl mx-auto lg:px-0 px-4;
}

.btn {
  @apply border hover:bg-white hover:text-black/80 border-white px-8 duration-200 py-2 text-white;
}
.btn-1 {
  @apply bg-(--primary-color) hover:px-14 text-white  px-12 duration-200 py-3 ;
}
.btn-line {
  @apply bg-green-500 hover:px-14 text-white  px-12 duration-200 py-3 ;
}


.mc-hd .nav-item .nav-lnk {
  position: relative;
  /* padding: 0; */
  line-height: 18px;
  height: 18px;
  cursor: pointer;
  display: inline-block;
}

.mc-hd .nav-item .nav-lnk img {
  background-size: cover;
  position: relative;
  bottom: 5px;
}

.mc-hd .nav-item .nav-lnk::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 24px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.mc-hd .nav-item .nav-lnk-active {
  @apply text-(--primary-color) pb-1 font-medium;
}

.mc-hd .nav-item .nav-lnk:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.mc-hd .nav-item .nav-lnk:hover {
  color: white;
}

.inner-curve {
  --r: 20px;  /* control the rounded part */
  --s: 40px;  /* control the size of the cut */
  --a: 20deg; /* control the depth of the curvature */
  --p: 50%;   /* control the position */

  height: 340px;
  /* aspect-ratio: 3/2; */
  background: var(--primary-color);
  border-radius: var(--r);
  --_m:var(--r),#000 calc(100% - 1px),#0000;
  --_d:(var(--s) + var(--r))*cos(var(--a));
  mask:
    radial-gradient(var(--r) at calc(var(--p) + var(--_d)) var(--_m)),
    radial-gradient(var(--r) at calc(var(--p) - var(--_d)) var(--_m)),
    radial-gradient(var(--s) at var(--p) calc(-1*sin(var(--a))*var(--s)),
      #0000 100%,#000 calc(100% + 1px)) 0 calc(var(--r)*(1 - sin(var(--a)))) no-repeat,
    linear-gradient(90deg,#000 calc(var(--p) - var(--_d)),#f3080800 0 calc(var(--p) + var(--_d)),#f84040 0);
}


.arc {
  --b: 40px; /* the boder thickness */
  --a: 240deg; /* control the progression */
  
  width: 250px;
  aspect-ratio: 1;
  padding: var(--b);
  border-radius: 50%;
  background: #c0d860;
  --_g:/var(--b) var(--b) no-repeat
    radial-gradient(50% 50%,#000 97%,#0000);
  mask: top var(--_g),
    calc(50% + 50%*sin(var(--a))) 
    calc(50% - 50%*cos(var(--a))) var(--_g),
    linear-gradient(#0000 0 0) content-box intersect,
    conic-gradient(#000 var(--a),#0000 0);
}